import React from 'react'

const {{ properCase name }}Container = React.createClass({
  render () {
    return (
      <p>{'Hello World!'}</p>
    )
  },
})

export default {{ properCase name }}Container
